extends _layout

block content 
  section.container-sm(style='margin-top: 200px;width:600px;margin-left: auto; margin-right: auto;background-color:lightblue; padding: 150px;')
    form#ticketForm
      fieldset()
        legend(style='color: black') Register Form
        .mb-3
          a(href='/list' style='') Supervisor List
        .mb-3
          label.form-label(for='firstName', style='color: black') First Name
          input#firstName.form-control(type='text' placeholder='John')
        .mb-3
          label.form-label(for='lastName', style='color: black') Last Name
          input#lastName.form-control(type='text' placeholder='Doe')
        .mb-3
          label.form-label(for='email', style='color: black') Email Address
          input#email.form-control(type='text' placeholder='john.doe@domain.com')
        .mb-3
          label.form-label(for='phoneNumber', style='color: black') Phone
          input#phoneNumber.form-control(type='text' placeholder='000-000-0000')
        .mb-3
          label.form-label(for='SupervisorSelect', style='color: black') Supervisor
          select#SupervisorSelect.form-control
            option(value='Select Supervisor...')
        button.btn.btn-primary(type='submit') Submit Ticket
