extends _layout

block content 
  section.container-sm(style='margin-top: 200px;width:600px;margin-left: auto; margin-right: auto;background-color:lightblue; padding: 150px;')
    div
      .mb-3
        h2(style='color: black') Supervisor List
        .mb-3
          a(href='/form' target='_blank' style='') Ticket Form
    div
      .mb-3
        button.btn.btn-primary#showSupervisorList(type='submit') View Supervisor List
      .mb-3 
        #supervisorList


